@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* For the entire scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

/* For the scrollbar track */
.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 10px; /* Rounded corners */
}

/* For the scrollbar thumb */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888; /* Darker grey for the scrollbar */
  border-radius: 10px;
}

/* On hover, make the thumb more visible */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker grey */
}